# CMake Build & Cache Directories
build/
cli/build/
templates/default_app/build/
**/build/
.cache/
CMakeFiles/
CMakeCache.txt
CMakeSettings.json
*.cmake


#benchmark envirnment

venv/
node_modules
target
uploads


# Databases & SQLite
*.db
default.db

# Node & Vitepress
docs/node_modules/
docs/.vitepress/.temp/
docs/.vitepress/cache/
docs/.vitepress/dist/

# VS Code & IDE files
.vscode/
.idea/
*.user
*.suo

# OS specific files
.DS_Store
Thumbs.db
